body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }
  
  .top {
    background-color: #ddb334;
    height: 45px;
    width: 1348px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .top a {
    text-decoration: none;
    padding-right: 50px;
    color: #945034;
    font-weight: 800;
  }
  
  .book {
    height: 30px;
    width: 100px;
    background-color: #945034;
    padding: 1px 20px;
    border-radius: 10px;
    color: white;
    padding-top: 8px;
    
  }

  .book a{
    color:white;
    padding:10px 10px;
    font-size: 13px;
  }
  
  .book:hover a{
    color: #945034;
    font-size: 13px;
    
  
  }
  
  .book:hover {
    background-color: #ddb334;
    color: #945034;
    border: 1px solid #945034 ;
  
  }
  .navbar {
    background-color: black;
    height: 60px;
    width: 1348px;
    float: left;
    position: sticky;
    top: 0px;
    border-bottom: 3px solid #ddb334;
    box-shadow: 2px 2px 5px rgb(121, 121, 68);
    z-index: 1000;
  }
  
  #n1 {
    color: #fada7a;
    padding-left: 5px;
    list-style-type: none;
    text-align: right;
  }
  #n1 > li {
    display: inline;
    padding-right: 10px;
  }
  #n1 a {
    text-decoration: none;
    color: #fada7a;
    background-color: black;
    padding: 10px 25px;
    border-radius: 10px;
  }
  
  #n1 a:hover {
    background-color: #ddb334;
    color: black;
  }
  
  #dropdown{
      display: none;
  }
  
  #n1 li:hover #dropdown{
      display:block;
      list-style-type: none;
      background-color: black;
      position: absolute;
      padding:10px;
      margin-left: 1070px;
      margin-top: 20px;
       border-radius: 10px;
  }
  
  #n1 li:hover #dropdown li{
    float:none;
    text-align: left;
   
   
  }
  
  #n1 ul li{
      
      text-align: center;
      padding:10px;
      
  }

  #n1 #about a{
    border-bottom: 1px solid #fada7a; 
}
  
  .navbar ul li i{
    padding-left:10px;
  }



  .slider-area{
    height: 1000px;
    width:1348px;
  }
  
  .slider-area img{
    height:100%;
    width:100%;
  }

  .about{
    height:600px;
    width:100%;
  }

  .about .about1{
    height:100px;
    width:100%;
  }

  .about .about1 h1{
    text-align: center;
    margin-top:60px;
    padding:30px;
    background-color: #f3db94;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  }


  .about .about2 h1{
    text-align: center;
    padding-top:30px ;
    font-style: italic;
    color: #ddb334;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  }

  .about .about2 p{
    text-align: justify;
    padding:10px 90px 10px 90px;
    font-size: 18px;
  }


  .card-intro{
    background-color: #f1e7e7;
    height: 150px;

    
  }

  .card-intro h1{
    text-align: center;
    font-style: italic;
    color: #ddb334;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    
  }
   

  .card-intro p{
    padding:10px 90px 10px 90px;
    font-size: 18px;



  }


  .card-section{
    height: 800px;
    width:100%;
    background-color: whitesmoke;

  }

  
.card {
    background-color: #f1e7e7;
    height: 650px;
    width: 1348px;
    display: flex;
    justify-content:center;
    align-items: center;
    
    
  }
  
  
  .card #card1{
    background-color: white;
    height: 500px;
    width: 300px;
    margin:10px;
    border-radius: 20px;
    border-bottom: 3px solid #ddb334;
    box-shadow: 2px 6px 5px gray;
    text-align: center;
    transition: transform 1s;
  }
  
  
  .card #card1 a{
  
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
    background-color: rgb(83, 8, 8);
    border-radius: 20px;
    color: white;
  }
  
  .card #card1 a:hover{
  
    background-color:white ;
    border:1px solid rgb(83, 8, 8);
    color:rgb(83, 8, 8);
  }
      
  .card #card1:hover{
    transform: translate(0px,-20px);
  }
     

  
  .card #card1 img{
    height:250px;
    width:294px;
    border-radius: 20px 20px 0 0;
  }

  
  .card #card2{
    background-color: white;
    height: 500px;
    width: 300px;
    margin:10px;
    border-radius: 20px;
    border-bottom: 3px solid #ddb334;
    box-shadow: 2px 6px 5px gray;
    text-align: center;
    transition: transform 1s;

  }
  
  
  .card #card2 a{
  
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
    background-color: rgb(83, 8, 8);
    border-radius: 20px;
    color: white;
  }
  
  .card #card2 a:hover{
  
    background-color:white ;
    border:1px solid rgb(83, 8, 8);
    color:rgb(83, 8, 8);
  }

  
  .card #card2:hover{
  transform: translate(0px,-20px);
    
 }
 

  
  .card #card2 img{
    height:250px;
    width:294px;
    border-radius: 20px 20px 0 0;
  }
  
  
  .card #card3{
    background-color:white;
    height: 500px;
    width: 300px;
    border-radius: 20px;
    border-bottom: 3px solid #ddb334;
    box-shadow: 2px 6px 5px gray;
    text-align: center;
    margin:10px;
    transition: transform 1s;

  }
  
  .card #card3 a{
  
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
    background-color: rgb(83, 8, 8);
    border-radius: 20px;
    color: white;
  }
  
  .card #card3 a:hover{
  
    background-color:white ;
    border:1px solid rgb(83, 8, 8);
    color:rgb(83, 8, 8);
  }
  
  .card #card3:hover{
    transform: translate(0px,-20px);
  }
  
  
  .card #card3 img{
    height:250px;
    width:294px;
    border-radius: 20px 20px 0 0;
  }
  



  .card #card4{
    background-color:white;
    height: 500px;
    width: 300px;
    border-radius: 20px;
    border-bottom: 3px solid #ddb334;
    box-shadow: 2px 6px 5px gray;
    text-align: center;
    margin: 10px;
    transition: transform 1s;

  }
  
  .card #card4 a{
  
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
    background-color: rgb(83, 8, 8);
    border-radius: 20px;
    color: white;
  }
  
  .card #card4 a:hover{
  
    background-color:white ;
    border:1px solid rgb(83, 8, 8);
    color:rgb(83, 8, 8);
  }
   
  .card #card4:hover{
    transform: translate(0px,-20px);
  }
  
  

  
  .card #card4 img{
    height:250px;
    width:294px;
    border-radius: 20px 20px 0 0;
  }

  .staf{
    background-color:white;
    height: 250px;
    width:1348px;
    float:left;
    border-bottom:3px solid #ddb334;
  }

  .staf h1{
    font-style:italic;
    text-align: center;
    margin-top: 50px;
    color: #ddb334;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  }
   

  .staf p{
    padding:10px 90px 10px 90px;
    font-size: 18px;
  }


  #footerarea{
    width:1200px;
    height:410px;
    background:pink;
  
   
  }
  
  
  
  #f1{
    width:300px;
    height:400px;
    background:black;
    float:left;
    padding:20px 10px 0.01px 80px;
    color:white;
    text-align: justify;
  }
  
  #f2{
    width:300px;
    height:410px;
    background:black;
    float:left;
    color:white;
    padding:10px 10px 0.01px 10px;
    text-align: left;
  }
  
  #f3{
    width:200px;
    height:410px;
    background:black;
    color:white;
    float:left;
    padding:10px 10px 0.01px 10px;
    text-align: left;
  }
  
  #f3 a{
    text-decoration: none;
    color: #e1eebc;
  }
  
  #f3 a:hover{
    color:#ddb334;
  }
  
  
  #f4{
    width:400px;
    height:410px;
    background:black;
    float:left;
    color: #e1eebc;
    padding-left: 17px;
    padding-top:10px;
  }
  
  #footer-area h2 {
    color:#ddb334;
  }
  