body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }
  
  .top {
    background-color: #ddb334;
    height: 45px;
    width: 1348px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .top a {
    text-decoration: none;
    padding-right: 50px;
    color: #945034;
    font-weight: 800;
  }
  
  .book {
    height: 30px;
    width: 100px;
    background-color: #945034;
    padding: 1px 20px;
    border-radius: 10px;
    color: white;
    padding-top: 8px;
    
  }
  .book a{
    color:white;
    padding:10px 10px;
    font-size: 13px;
  }
  
  .book:hover a{
    color: #945034;
    font-size: 13px;
    
  
  }
  
  .book:hover {
    background-color: #ddb334;
    border: 1px solid #945034 ;
    color: #945034;
  
  }
  .navbar {
    background-color: black;
    height: 60px;
    width: 1348px;
    float: left;
    position: sticky;
    top: 0px;
    border-bottom: 3px solid #ddb334;
    box-shadow: 2px 2px 5px rgb(121, 121, 68);
    z-index: 1000;
  }
  
  #n1 {
    color: #fada7a;
    padding-left: 5px;
    list-style-type: none;
    text-align: right;
  }
  #n1 > li {
    display: inline;
    padding-right: 10px;
  }
  #n1 a {
    text-decoration: none;
    color: #fada7a;
    background-color: black;
    padding: 10px 25px;
    border-radius: 10px;
  }
  
  #n1 a:hover {
    background-color: #ddb334;
    color: black;
  }
  
  #n1 #planning a{
    border-bottom: 1px solid #fada7a; 
  }
  
  #dropdown{
      display: none;
      transition: transform 1s;
      
  }
  
  #n1 #gallery:hover #dropdown{
      display:block;
      list-style-type: none;
      background-color: black;
      position: absolute;
      padding:10px;
      margin-left: 1060px;
      margin-top: 10px;
      border-radius: 10px;
      border-bottom:1px solid #ddb334;
  }
  
  #n1 #gallery:hover #dropdown li{
    text-align: left;
    border-bottom:1px solid #ddb334;
    transition:transform 1s;
  }
  
  #n1 #gallery #dropdown li:hover{
    transform: translate(10px,0px);
  }
  
  
  #n1 ul li{
      
      text-align: center;
      padding:10px;
      
  }
  
  .navbar ul li i{
    padding-left:10px;
  }
  
  .slider-area{
     height:800px;
     width:1348px;

  }

  .slider-area img{
    height:100%;
    width:100%;

 }

 .paragraph{
    text-align: justify;
    padding:0px 30px;
    font-size: 20px;

 }

 .heading{
    text-align: center;
    color:rgb(124, 18, 18);


 }

 .box1{
    background-color: rgb(255, 255, 201);
    height:180px;
    width:1348px;
 }

 .box1 h2{
    text-align:center;
    padding-top: 80px;
    font-size:25px;
    color:rgb(92, 20, 20);
    
 }

 .box1 h1{
    text-align:center;
    font-style:italic;
    
 }
  
 .box2{
    background-color:white;
    height:500px;
    width:1348px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
 }
 
 .box2 h1{
    text-align:center;
    margin:0;
    padding-top:60px; 
    color:rgb(0, 0, 0);
    font-style:italic;
    text-shadow: 2px 6px 5px gray;
    font-size: 35px;
       
}
.box2  p{
    font-size: 20px;
    text-align:justify;
    padding:0px 100px;
    
}


 .box3{
    background-color:bisque;
    height:700px;
    width:1348px;
    border-top: 25px solid white;
    background-image: url("image/image1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
 }

 


 .box3 .mini-box3{
    height:500px;
    width:600px;
    background-color:rgba(255, 255, 255, 0.74);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
 }
 


 .box4{
    background-color:bisque;
    height:700px;
    width:1348px;
    border-top: 25px solid white;
    background-image: url("image/box4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
 }
 
 .box4 .mini-box4{
    height:500px;
    width:600px;
    background-color:rgba(255, 255, 255, 0.74);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
 }
    
 .box5{
    background-color:bisque;
    height:700px;
    width:1348px;
    border-top: 25px solid white;
    background-image: url("image/box5.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
 }

 .box5 .mini-box5{
    height:500px;
    width:600px;
    background-color:rgba(255, 255, 255, 0.74);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
 }
   
 
 .box6{
    background-color:bisque;
    height:700px;
    width:1348px;
    border-top: 25px solid white;
    background-image: url("image/box6.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    
 }
 .box6 .mini-box6{
    height:500px;
    width:600px;
    background-color:rgba(255, 255, 255, 0.74);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
 }
 .box7{
    background-color:bisque;
    height:700px;
    width:1348px;
    border-top: 25px solid white;
    background-image: url("image/box7.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    
 }
 .box7 .mini-box7{
    height:500px;
    width:600px;
    background-color:rgba(255, 255, 255, 0.74);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
 }
 .box8{
    background-color:bisque;
    height:700px;
    width:1348px;
    border-top: 25px solid white;
    background-image: url("image/box8.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
   
 }
 .box8 .mini-box8{
    height:500px;
    width:600px;
    background-color:rgba(255, 255, 255, 0.74);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
 }
 .box9{
    background-color:bisque;
    height:700px;
    width:1348px;
    border-top: 25px solid white;
    background-image: url("image/image2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
  
 }
 .box9 .mini-box9{
    height:500px;
    width:600px;
    background-color:rgba(255, 255, 255, 0.74);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
 }
 .box10{
    background-color:bisque;
    height:700px;
    width:1348px;
    border-top: 30px solid white;
    background-image: url("image/image3.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 100px;
    border-bottom:3px solid #ddb334;
    
 }

 .box10 .mini-box10{
    height:500px;
    width:600px;
    background-color:rgba(255, 255, 255, 0.74);
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
 }
 
 

 #footer-area{
  width:1348px;
  height:420px;
  background:black;
  display: flex;
  /* background-image: url("https://t4.ftcdn.net/jpg/02/50/95/91/240_F_250959105_KFS05K9HHels3cK6nZcID63s1sEjciGn.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
}



#f1{
  width:300px;
  height:400px;
  padding:20px 10px 0.01px 80px;
  color:white;
  text-align: justify;
}

#f2{
  width:300px;
  height:400px;
  color:white;
  padding:10px 10px 0.01px 10px;
  text-align: left;
}

#f3{
  width:200px;
  height:410px;
  color:white;
  padding:10px 10px 0.01px 10px;
  text-align: left;
}
 
#f3 a{
  text-decoration: none;
  color: #e1eebc;
  transition:transform 4s;
  display:block;
}

#f3 a:hover{
  color:#ddb334;
  transform: translate(40px,0px);
}

#f4{
  width:400px;
  height:410px;
  color: #e1eebc;
  padding-left: 17px;
  padding-top:10px;
}

#footer-area h2 {
  color:#ddb334;
}

.copyright{
  height:50px;
  width:1348px;
  background-color:rgb(48, 45, 45);
}

.copyright h3{
  margin-top:0;
  text-align:center;
  padding-top:15px;
  color:white;
}



