body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

.top {
  background-color: #FFFBDE;
  height: 45px;
  width: 1348px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top a {
  text-decoration: none;
  padding-right: 50px;
  color: #945034;
  font-weight: 800;
}

.book {
  height: 30px;
  width: 100px;
  background-color: rgb(31, 211, 31);
  padding: 1px 10px;
  border-radius: 10px;
  color: white;
  padding-top: 8px;
  
}
.book a{
  color:white;
  padding:10px 10px;
  font-size: 13px;
}

.book:hover a{
  color: #945034;
  font-size: 13px;
}

.book:hover {
  background-color: #FFFBDE;
  color: #945034;

}
.navbar {
  background-color:white;
  background: linear-gradient(to bottom,#FFFBDE,white);
  height: 60px;
  width: 1348px;
  float: left;
  position: sticky;
  top: 0px;
  z-index: 1000;
  box-shadow: 0px 10px 10px -5px grey;
}

#n1 {
  color: #fada7a;
  padding-left: 5px;
  list-style-type: none;
  text-align: right;
}
#n1 > li {
  display: inline;
  padding-right: 10px;
}
#n1 a {
  text-decoration: none;
  color: #fada7a;
  background-color: black;
  padding: 10px 25px;
  border-radius: 10px;
}

#n1 a:hover {
  background: linear-gradient(to bottom,#FFFBDE,white);
  color: black;
}

#n1 #home a{
  border-bottom: 1px solid #fada7a; 
}

#dropdown{
    display: none;
    transition: transform 1s;
    
}

#n1 #gallery:hover #dropdown{
    display:block;
    list-style-type: none;
    background: linear-gradient(to bottom,white,#FFFBDE);
    position: absolute;
    padding:10px;
    margin-left: 1060px;
    margin-top: 10px;
    border-radius: 10px;
    border-bottom:1px solid #ddb334;
}

#n1 #gallery:hover #dropdown li{
  text-align: left;
  border-bottom:1px solid #ddb334;
  transition:transform 1s;
}

#n1 #gallery #dropdown li:hover{
  transform: translate(10px,0px);
}


#n1 ul li{
    
    text-align: center;
    padding:10px;
    color:black;
    
}

.navbar ul li i{
  padding-left:10px;
}


  .slider-area{
    height: 800px;
    width:1348px;
    margin-top: 70px;
    margin-left:0px;
  }
  
  .slider-area img{
    height:100%;
    width:100%;
  }

  .card-area{
    height:3200px;
    width:1348px;
    background-color:rgb(181, 187, 187);
  }

  .card-area .intro{
    height:150px;
    width:100%;
    background: linear-gradient(to bottom,#FFEEA9,whitesmoke);

  }

  .card-area .card1{
    height:330px;
    width:100%;
    background-color:whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:10px;
    padding-bottom:10px;
  }

  .card-area .card2{
    height:400px;
    width:100%;
    background-color:whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:10px;
    padding-bottom:10px;
  }

  .card-area .card1 .box1{
    height:320px;
    width:360px;
    background-color:#FFEEA9;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-left:4px solid white;
    text-align: center;
    transition:all 1s;
    
    
  }

  .card-area .card1 .box1:hover{
    box-shadow: 10px 10px 10px  grey;
    transform: scale(1.02,1.02);
  }

  .card-area .card1 .box1 img{
    height:200px;
    width:270px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: block;
    margin-left: 40px;
    margin-bottom:15px;
    transition: all 2s;
  }

  
  .card-area .card1 .box1:hover img{
    transform: scale(0.95,0.95);

  }

  .card-area .card1 .box1 a{
    text-decoration: none;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(83, 8, 8);
    border-radius: 20px;
    color: white;
   
  }

  .card-area .card1 .box1 a:hover{
    background-color:white ;
    border:1px solid rgb(83, 8, 8);
    color:rgb(83, 8, 8);
    
   
  }



  .card-area .card1 .box2{
    height:320px;
    width:800px;
    background-color:white;
    margin-left:30px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-right:4px solid #FFEEA9;
    transition:all 1s;
  }

  .card-area .card1 .box2:hover{
    box-shadow: 10px 10px 10px  grey;
    transform: scale(1.02,1.02);
  }

  .card-area .card1 .box2 p{
    font-size: 20px;
    padding:10px 30px;
    line-height: 25px;
    text-align: justify;
    color: #9e6146;
  }

  .card-area .card2 .box1{
    height:320px;
    width:800px;
    background-color:white;
    margin-left:30px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-left:4px solid #FFEEA9;
    transition:all 1s;
    
  }

  .card-area .card2 .box1:hover{
    box-shadow: 10px 10px 10px  grey;
    transform: scale(1.02,1.02);
  }

  .card-area .card2 .box1 p{
    font-size: 20px;
    padding:10px 30px;
    line-height: 25px;
    text-align: justify;
    color: #9e6146;
  }

  .card-area .card2 .box2{
    height:320px;
    width:360px;
    background-color:#FFEEA9;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
    margin-left:30px;
    border-right:4px solid white;
    text-align: center;
    transition: all 1s;
  }

  .card-area .card2 .box2:hover{
    box-shadow: 10px 10px 10px  grey;
    transform: scale(1.02,1.02);
  }
  

  .card-area .card2 .box2 img{
    height:200px;
    width:270px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    display: block;
    margin-left: 40px;
    margin-bottom:15px;

   
  }

  .card-area .card2 .box2 a{
    text-decoration: none;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(83, 8, 8);
    border-radius: 20px;
    color: white;
   
  }

  .card-area .card2 .box2 a:hover{
    background-color:white ;
    border:1px solid rgb(83, 8, 8);
    color:rgb(83, 8, 8);
    
   
  }




  #footer-area{
    width:1348px;
    height:420px;
    background:black;
    display: flex;
    /* background-image: url("https://t4.ftcdn.net/jpg/02/50/95/91/240_F_250959105_KFS05K9HHels3cK6nZcID63s1sEjciGn.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  
  
  #f1{
    width:300px;
    height:400px;
    padding:20px 10px 0.01px 80px;
    color:white;
    text-align: justify;
  }
  
  #f2{
    width:300px;
    height:400px;
    color:white;
    padding:10px 10px 0.01px 10px;
    text-align: left;
  }
  
  #f3{
    width:200px;
    height:410px;
    color:white;
    padding:10px 10px 0.01px 10px;
    text-align: left;
  }
   
  #f3 a{
    text-decoration: none;
    color: #e1eebc;
    transition:transform 4s;
    display:block;
  }
  
  #f3 a:hover{
    color:#ddb334;
    transform: translate(40px,0px);
  }
  
  #f4{
    width:400px;
    height:410px;
    color: #e1eebc;
    padding-left: 17px;
    padding-top:10px;
  }
  
  #footer-area h2 {
    color:#ddb334;
  }
  
  .copyright{
    height:50px;
    width:1348px;
    background-color:rgb(48, 45, 45);
  }
  
  .copyright h3{
    margin-top:0;
    text-align:center;
    padding-top:15px;
    color:white;
  }
  
  

  
