body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    
  }
 
  .top {
    background-color: #ddb334;
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .top a {
    text-decoration: none;
    padding-right: 50px;
    color: #945034;
    font-weight: 800;
  }
  
  .book {
    height: 30px;
    width: 100px;
    background-color: #945034;
    padding: 1px 20px;
    border-radius: 10px;
    color: white;
    padding-top: 8px;
    
  }
  
  .book:hover {
    background-color: #ddb334;
    color: #945034;
    border: 1px solid #945034 ;
  
  }
  .navbar {
    background-color: black;
    height: 60px;
    width: 100%;
    float: left;
    position: sticky;
    top: 0px;
    border-bottom: 3px solid #ddb334;
    box-shadow: 2px 2px 5px rgb(121, 121, 68);
  }
  
  #n1 {
    color: #fada7a;
    padding-left: 5px;
    list-style-type: none;
    text-align: right;
  }
  #n1 > li {
    display: inline;
    padding-right: 10px;
  }
  #n1 a {
    text-decoration: none;
    color: #fada7a;
    background-color: black;
    padding: 10px 25px;
    border-radius: 10px;
  }
  
  #n1 a:hover {
    background-color: #ddb334;
    color: black;
  }
  
  #dropdown{
      display: none;
  }
  
  #n1 li:hover #dropdown{
      display:block;
      list-style-type: none;
      background-color: black;
      position: absolute;
      padding:10px;
      margin-left: 1070px;
      margin-top: 20px;
       border-radius: 10px;
  }
  
  #n1 li:hover #dropdown li{
    float:none;
    text-align: left;
   
   
  }
  
  #n1 ul li{
      
      text-align: center;
      padding:10px;
      
  }
  
  .navbar ul li i{
    padding-left:10px;
  }


  .slider-area{
    height: 800px;
    width:100%;
    margin-top: 30px;
    margin-left:0px;
  }
  
  .slider-area img{
    height:100%;
    width:100%;
  }

  .card-area{
    height:3200px;
    width:100%;
    background-color:rgb(181, 187, 187);
  }

  .card-area .intro{
    height:150px;
    width:100%;
    background-color:#FFEEA9;
  }

  .card-area .card1{
    height:330px;
    width:100%;
    background-color:whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:10px;
    padding-bottom:10px;
  }

  .card-area .card2{
    height:400px;
    width:100%;
    background-color:whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:10px;
    padding-bottom:10px;
  }

  .card-area .card1 .box1{
    height:320px;
    width:360px;
    background-color:#FFEEA9;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-left:4px solid white;
    text-align: center;
    
    
  }

  .card-area .card1 .box1 img{
    height:200px;
    width:270px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: block;
    margin-left: 40px;
   
  }

  .card-area .card1 .box1 a{
    text-decoration: none;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(83, 8, 8);
    border-radius: 20px;
    color: white;
   
  }

  .card-area .card1 .box1 a:hover{
    background-color:white ;
    border:1px solid rgb(83, 8, 8);
    color:rgb(83, 8, 8);
    
   
  }



  .card-area .card1 .box2{
    height:320px;
    width:800px;
    background-color:white;
    margin-left:30px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-right:4px solid #FFEEA9;
  }

  .card-area .card1 .box2 p{
    font-size: 20px;
    padding:10px 30px;
    line-height: 25px;
    text-align: justify;
    color: #9e6146;
  }

  .card-area .card2 .box1{
    height:320px;
    width:800px;
    background-color:white;
    margin-left:30px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-left:4px solid #FFEEA9;
    
  }

  .card-area .card2 .box1 p{
    font-size: 20px;
    padding:10px 30px;
    line-height: 25px;
    text-align: justify;
    color: #9e6146;
  }

  .card-area .card2 .box2{
    height:320px;
    width:360px;
    background-color:#FFEEA9;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-left:30px;
    border-right:4px solid white;
    text-align: center;
  }
  

  .card-area .card2 .box2 img{
    height:200px;
    width:270px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    display: block;
    margin-left: 40px;
   
  }

  .card-area .card2 .box2 a{
    text-decoration: none;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(83, 8, 8);
    border-radius: 20px;
    color: white;
   
  }

  .card-area .card2 .box2 a:hover{
    background-color:white ;
    border:1px solid rgb(83, 8, 8);
    color:rgb(83, 8, 8);
    
   
  }




  
#footerarea{
  width:1200px;
  height:410px;
  background:pink;
 

 
}



#f1{
  width:300px;
  height:400px;
  background:black;
  float:left;
  padding:40px 10px 0.01px 80px;
  color:white;
  text-align: justify;
}

#f2{
  width:300px;
  height:410px;
  background:black;
  float:left;
  color:white;
  padding:40px 10px 0.01px 10px;
  text-align: left;
}

#f3{
  width:200px;
  height:410px;
  background:black;
  color:white;
  float:left;
  padding:40px 10px 0.01px 10px;
  text-align: left;
}

#f3 a{
  text-decoration: none;
  color: #e1eebc;
}

#f3 a:hover{
  color:#ddb334;
}


#f4{
  width:400px;
  height:410px;
  background:black;
  float:left;
  color: #e1eebc;
  padding-left: 17px;
  padding-top:40px;
}

#footer-area h2 {
  color:#ddb334;
}

#copywrite{
  height:400px;
  width:100%;
  background-color:black;
  text-align: center;
  padding-top:100px;
  color: white;
}

  

  
